@import './../../../variables.scss';
/* Modal animation */
$modal-transition-duration: 300ms;
$modal-transition-timing: ease-in;

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;

	&--after-open {
		background-color: rgba(50, 50, 50, 0.5);
		transition: background-color $modal-transition-duration $modal-transition-timing;
	}

	&--before-close {
		background-color: transparent;
		transition: top $modal-transition-duration $modal-transition-timing;
	}
}

.about {
	position: absolute;
	top: -100%;
	width: 100%;
	min-height: 100%;
	outline: 0;
	padding: 2rem 1rem 5rem;
	background-color: #eee;

	&--after-open {
		top: 0;
		transition: top $modal-transition-duration $modal-transition-timing;
	}

	&--before-close {
		top: -100%;
		transition: top $modal-transition-duration $modal-transition-timing;
	}

	&__header {
		margin-bottom: 2rem;

		&__title {
			margin-bottom: 1rem;
			font-size: 2rem;
		}
	}

	&__block {
		margin-bottom: 2rem;

		&__title {
			margin-bottom: 1rem;
			font-size: 1.5rem;
		}

		&__list {
			padding-left: 1rem;
			text-align: left;

			&__item {
				margin-bottom: 0.5rem;

				&__example {
					font-size: 0.9rem;
					font-style: italic;
				}
			}
		}

		&__text {
			text-align: left;
		}
	}

	&__button-close {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		display: block;
		width: 2.5rem;
		height: 2.5rem;
		font-size: 1.5rem;
	}

	&__footer {
		position: absolute;
		bottom: 1rem;
		font-size: 0.7rem;
	}
	@media (min-width: $medium) {
		left: 25%;
		width: 50%;
		min-height: auto;

		&--after-open {
			top: 10rem;
			transition: top $modal-transition-duration $modal-transition-timing;
		}

		&--before-close {
			top: -100%;
			transition: top $modal-transition-duration $modal-transition-timing;
		}
	}
	@media (min-width: $large) {
		left: 50%;
		width: 37.5rem; // 600px
		margin-left: -18.75rem; // 300px to center modal
	}
}
