@import './../../variables.scss';

.matches-page {
	width: 100%;
	min-height: 100%;
	padding-bottom: 5rem;
	background: linear-gradient(to top, $page-bg-dark, $page-bg-light);

	&__header {
		padding: 1rem 1rem 2rem;

		&__title {
			margin-bottom: 1.5rem;
			font-size: 2rem;
		}

		&__quote {
			display: none;
		}
	}

	&__list {
		padding: 0;

		&__item {
			list-style: none;
		}
	}
}
