@import './../../../../variables.scss';

.area-input {
	display: inline-block;
	vertical-align: middle;
	width: 4.4rem;
	margin: -1.2rem 0.5rem 1.2rem;

	&__label {
		width: 4.5rem;
		height: 4.5rem;
		padding: 1rem 0.2rem 0.2rem;
		border: 0.25rem solid $page-bg-light;
		border-radius: 50% 50% 50% 0;
		transform: rotate(-45deg);
		background-color: $input-bg;

		&__text {
			font-size: 0.8rem;
			transform: rotate(45deg);
		}

		&:before {
			content: '';
			position: absolute;
			top: 25%;
			left: 40%;
			display: block;
			width: 1.4rem;
			height: 1.4rem;
			margin: 0.2rem 0 0 -.2rem;
			border-radius: 50%;
			background-color: $page-bg-light;
		}
	}

	&__input {
		opacity: 0;
		width: 0;
		height: 0;

		&:focus + .area-input__label {
			//box-shadow: $input-shadow;
		}

		&:checked + .area-input__label {
			//box-shadow: none;
			border-color: $input-selected-color;
		}
	}
	@media (min-width: $medium) {
		margin-left: 1rem;
		margin-right: 1rem;

		&__label {
			width: 5rem;
			height: 5rem;

			&__text {
				font-size: 0.9rem;
			}

			&:before {
				top: 25%;
				left: 40%;
				width: 2rem;
				height: 2rem;
				margin: 0 0 0 -0.4rem;
			}
		}
	}
}
