@import './../../../variables.scss';

.match {
	display: flex;
	align-items: center;
	padding: 0.7rem 0.1rem 0.7rem 0.7rem; // To handle padding of images on the left
	border-radius: 0.3rem;
	background-color: $input-bg;

	&__location {
		flex: 1;
		padding-right: 0.2rem;
		text-align: left;

		&__name {
			//font-weight: 400;
			font-size: 1.1rem;
			margin-bottom: 0.4rem;
		}

		&__criteria {
			padding: 0;
			font-size: 0.8rem;
			font-style: italic;
			list-style: circle;

			&__item {
				display: inline-block;
				vertical-align: middle;
				margin-bottom: -0.4rem;

				&:not(:first-child) {
					margin-left: 0.4rem;

					&::before {
						content: '-';
						margin-right: 0.2rem;
					}
				}

				&__image {
					width: 1.8rem;
					margin-left: -0.3rem;
				}
			}
		}
	}

	&__more {
		width: 5rem;
		text-align: right;

		&__link {
			display: inline-block;
			width: 2.5rem;
			height: 2.5rem;

			&__image {
				width: 1.3rem;
				margin: 0.6rem;
			}
		}
	}
}
