@import './../../../variables.scss';

.quote {
	position: relative;
	padding-bottom: 1.2rem;

	&__text {
		color: $page-color-quote;
		font-size: 1.5rem;
		font-style: italic;
	}

	&__author {
		position: absolute;
		bottom: 0;
		left: 2rem;
		font-size: 0.8rem;
		font-style: normal;
	}
}
