/* Router animation */
$route-transition-duration: 300ms;
$route-transition-timing: ease-in;
/* Need more specificity to override home-page/form-page/matches-page styles */
.form-page,
.home-page,
.matches-page {
	&.route-enter {
		position: absolute;
		top: 50%;
		opacity: 0;

		&.route-enter-active {
			top: 0;
			opacity: 1;
			transition: top $route-transition-duration $route-transition-timing $route-transition-duration, opacity $route-transition-duration $route-transition-timing $route-transition-duration;
		}
	}

	&.route-exit {
		position: absolute;
		top: 0;
		opacity: 1;

		&.route-exit-active {
			top: -50%;
			opacity: 0;
			transition: top $route-transition-duration $route-transition-timing, opacity $route-transition-duration $route-transition-timing;
		}
	}
}
