@mixin button($bg, $color) {
	display: block;
	width: 50%;
	margin: 0 auto;
	padding: 0.6rem 1.2rem;
	border: 0;
	border-radius: 1000rem;
	background-color: $bg;
	color: $color;
	font-size: 1rem;
	line-height: 1.3;

	&:focus {
		 // Fake outline with round border
		//box-shadow: $input-shadow;
	}

	@media (min-width: $medium) {
		width: 25%;
	}
}
