/* Page colors */
$page-bg-dark: #076585;
$page-bg-light: #eef4f6;
$page-color-dark: #444;
$page-color-light: #ddd;
/* Buttons colors */
$btn-primary-bg: #30d180;
$btn-primary-color: #fff;
$btn-secondary-bg: #f1f6f8;
$btn-secondary-color: #aaa;
/* Form page styles */
$form-page-bg: #eef4f6;
$form-page-color: #444;
$input-bg: #fff;
$input-selected-color: #45879E;
$input-date-border-radius: 0.5rem;
$input-date-top-bg: #fd9f1b;
$input-date-top-color: #fff;
$input-date-bottom-bg: #fff;
$input-date-bottom-color: #222;
$input-area-border-radius: 50%;
