/* Pages colors */
$page-bg-dark: #076585;
$page-bg-light: #eef4f6;
$page-color-dark: #444;
$page-color-light: #ddd;
/* Buttons colors */
$btn-primary-bg: #30d180;
$btn-primary-color: #fff;
$btn-primary-disabled-bg: #b3eed0;
$btn-primary-disabled-color: #fff;
$btn-secondary-bg: #f1f6f8;
$btn-secondary-color: #aaa;
/* Inputs colors */
$input-bg: #fff;
$input-shadow: 0 0 0.3rem 0.3rem #6199ac;
$input-selected-color: #45879E;
