/* Breakpoints */
$medium: 48rem; // 768px
$large: 75rem; // 1200px
/* Pages styles */
$page-bg-dark: #076585;
$page-bg-light: #eef4f6;
$page-color-dark: #444;
$page-color-light: #ddd;
$page-color-quote: #aaa;
$page-large-width: 62.5rem; // 1000px
/* Buttons colors */
$btn-primary-bg: #30d180;
$btn-primary-color: #fff;
$btn-primary-hover-bg: #54dd97;
$btn-primary-disabled-bg: #b3eed0;
$btn-primary-disabled-color: #fff;
$btn-secondary-bg: #f1f6f8;
$btn-secondary-color: #aaa;
$btn-secondary-hover-bg: #fff;
/* Inputs colors */
$input-bg: #fff;
$input-selected-color: #45879e;
//$input-shadow: 0 0 0.2rem 0.1rem $input-selected-color;
$input-shadow: 0 0 0 0.2rem rgba(69, 135, 158, 0.4);
