@import './../../../../variables.scss';

.sky-input {
	display: inline-block;
	margin: 0.1rem 0.2rem;

	&__label {
		padding: 0.8rem;
		border: 0.25rem solid $page-bg-light;
		border-radius: 50%;
		background-color: $input-bg;
	}

	&__input {
		opacity: 0;
		width: 0;
		height: 0;

		&:focus + .sky-input__label {
			//box-shadow: $input-shadow;
		}

		&:checked + .sky-input__label {
			//box-shadow: none;
			border-color: $input-selected-color;
		}
	}
}
